html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* fonts -------------- */
/* colors -------------- */
/* animations -------------- */
@keyframes spinLoader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes animateContentUp {
  0% {
    transform: translateY(200px); }
  100% {
    transform: translateY(0); } }

/* global -------------- */
body {
  background: #fcfcfc;
  color: #545456;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 62.5%; }
  body .loading {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 6px solid #f2f2f2;
    border-top-color: transparent;
    text-indent: -999em;
    position: absolute;
    left: 50%;
    top: 360px;
    margin: -28px 0 0 -28px;
    animation-name: spinLoader;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 2s; }
  body a {
    text-decoration: none;
    color: #ffbe00; }
  body p,
  body ul li {
    font-size: 1.2em;
    line-height: 1.5; }

/* app-header -------------- */
.app-header {
  padding: 120px 5%;
  height: 60px;
  width: 90%;
  position: absolute;
  top: 0;
  text-align: center; }
  .app-header .title {
    color: #bbbbbb;
    font-family: "Montserrat", "Arial Black", Helvetica, sans-serif;
    height: 60px;
    line-height: 60px;
    font-size: 8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: lowercase; }
    .app-header .title a {
      transition: all 0.25 linear; }
      .app-header .title a:hover {
        opacity: 0.7; }

/* app-navigation -------------- */
.app-navigation {
  position: relative; }
  .app-navigation .navigation-visible .navigation-trigger {
    left: auto;
    right: 10px;
    color: #fcfcfc; }
  .app-navigation .navigation-visible .navigation-content {
    transition: all 0.15s ease-in-out; }
  .app-navigation .navigation-hidden .navigation-content {
    margin-top: -400px;
    transition: all 0.15s ease-in-out; }
  .app-navigation .navigation-trigger {
    position: fixed;
    left: 10px;
    top: 10px;
    height: 34px;
    width: 34px;
    font-size: 34px;
    z-index: 2;
    color: #545456;
    cursor: pointer;
    transition: opacity 0.25s linear; }
    .app-navigation .navigation-trigger:hover {
      opacity: 0.9; }
  .app-navigation .navigation-content {
    background: #202020;
    color: #fcfcfc;
    padding: 50px 5%;
    width: 90%;
    height: 160px;
    position: fixed;
    top: 0;
    z-index: 1; }
    .app-navigation .navigation-content .navigation-list,
    .app-navigation .navigation-content .navigation-sorters-list {
      width: 29.33%;
      float: left;
      margin-right: 4%;
      position: relative; }
      .app-navigation .navigation-content .navigation-list .title,
      .app-navigation .navigation-content .navigation-sorters-list .title {
        font-size: 2em;
        margin-bottom: 1.5em;
        font-family: "Montserrat", "Arial Black", Helvetica, sans-serif;
        color: #ffbe00;
        font-weight: bold; }
    .app-navigation .navigation-content .navigation-list .navigation-list-item {
      width: 30%;
      float: left;
      font-size: 1.6em;
      padding: 1% 1% 1% 0;
      cursor: pointer;
      transition: opacity 0.25s linear; }
      .app-navigation .navigation-content .navigation-list .navigation-list-item:hover {
        opacity: 0.5; }
      .app-navigation .navigation-content .navigation-list .navigation-list-item .material-icons {
        margin-right: 5px;
        font-size: 1.4em;
        width: 25px;
        vertical-align: text-bottom; }
      .app-navigation .navigation-content .navigation-list .navigation-list-item.active .material-icons {
        color: #ffbe00; }
    .app-navigation .navigation-content .navigation-sorters-list .navigation-sorters-trigger {
      position: absolute;
      right: 3%;
      top: 58px;
      cursor: pointer;
      transition: opacity 0.25s linear; }
      .app-navigation .navigation-content .navigation-sorters-list .navigation-sorters-trigger:hover {
        opacity: 0.5; }
    .app-navigation .navigation-content .navigation-sorters-list .navigation-sorters {
      background: #545456;
      border-radius: 2px;
      padding: 1% 3%; }
      .app-navigation .navigation-content .navigation-sorters-list .navigation-sorters .navigation-sorter {
        font-size: 1.6em;
        padding: 1% 1% 1% 0;
        cursor: pointer;
        transition: opacity 0.25s linear; }
        .app-navigation .navigation-content .navigation-sorters-list .navigation-sorters .navigation-sorter:hover {
          opacity: 0.5; }
        .app-navigation .navigation-content .navigation-sorters-list .navigation-sorters .navigation-sorter .material-icons {
          margin-right: 5px;
          font-size: 1.4em;
          width: 25px;
          vertical-align: text-bottom; }
          .app-navigation .navigation-content .navigation-sorters-list .navigation-sorters .navigation-sorter .material-icons.hidden {
            opacity: 0; }
        .app-navigation .navigation-content .navigation-sorters-list .navigation-sorters .navigation-sorter.active .material-icons {
          color: #ffbe00; }
    .app-navigation .navigation-content .navigation-sorters-list-visible .navigation-sorters {
      box-shadow: 0 0 15px rgba(32, 32, 32, 0.25); }
    .app-navigation .navigation-content .navigation-sorters-list-visible .navigation-sorter {
      margin-right: 10%; }
    .app-navigation .navigation-content .navigation-sorters-list-visible .navigation-sorter.inactive {
      display: block; }
    .app-navigation .navigation-content .navigation-sorters-list-hidden .navigation-sorters-trigger {
      padding-left: 89%;
      z-index: 1; }
    .app-navigation .navigation-content .navigation-sorters-list-hidden .navigation-sorter.inactive {
      display: none; }

/* app-content -------------- */
.app-content {
  margin: 300px 3.2% 48px;
  width: 93.6%;
  overflow: hidden; }
  .app-content .content {
    overflow: hidden; }
    .app-content .content .no-whisky .error {
      font-family: "Montserrat", "Arial Black", Helvetica, sans-serif;
      color: #202020;
      font-size: 3em;
      font-weight: bold; }
    .app-content .content .whisky {
      background: #f2f2f2;
      width: 29.33%;
      margin: 0 2% 4%;
      float: left;
      cursor: pointer;
      transition: all .25s ease-in-out; }
      .app-content .content .whisky .image {
        width: 38%;
        float: left;
        background: #202020;
        opacity: 0.9;
        transition: all .25s ease-in-out; }
      .app-content .content .whisky .title {
        width: 58%;
        padding: 10% 2% 0;
        float: left;
        text-align: center; }
        .app-content .content .whisky .title .brand {
          font-family: "Montserrat", "Arial Black", Helvetica, sans-serif;
          color: #202020;
          font-size: 3em;
          height: 36px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 0.5em;
          font-weight: bold; }
        .app-content .content .whisky .title .title-space {
          display: none; }
        .app-content .content .whisky .title .name {
          font-size: 2em;
          height: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .app-content .content .whisky .details {
        clear: both;
        overflow: hidden;
        text-align: center; }
        .app-content .content .whisky .details .rating {
          width: 38%;
          height: 80px;
          line-height: 80px;
          float: left;
          background: #edae00;
          color: #202020;
          font-weight: bold;
          font-size: 4em;
          font-family: "Montserrat", "Arial Black", Helvetica, sans-serif; }
          .app-content .content .whisky .details .rating .rating-pct {
            font-size: 70%; }
        .app-content .content .whisky .details .link {
          width: 62%;
          height: 80px;
          line-height: 80px;
          float: left;
          background: #ffbe00;
          color: #202020;
          font-size: 2em;
          transition: all 0.25s linear; }
          .app-content .content .whisky .details .link .material-icons {
            vertical-align: text-bottom;
            transition: all 0.25s linear; }
          .app-content .content .whisky .details .link:hover {
            background: rgba(255, 190, 0, 0.9); }
            .app-content .content .whisky .details .link:hover .material-icons {
              margin-right: -10px; }
      .app-content .content .whisky .attributes {
        clear: both;
        color: #bbbbbb;
        background: #202020;
        padding: 2%;
        width: 96%;
        overflow: hidden; }
        .app-content .content .whisky .attributes .attribute {
          width: 25%;
          float: left; }
          .app-content .content .whisky .attributes .attribute .attribute-key {
            line-height: 36px;
            margin: 0 0.3em;
            float: left; }
          .app-content .content .whisky .attributes .attribute .attribute-value {
            font-size: 1.2em;
            line-height: 36px;
            float: left; }
      .app-content .content .whisky:hover {
        background: rgba(242, 242, 242, 0.8); }
        .app-content .content .whisky:hover .title {
          opacity: 0.8;
          transition: all .25s ease-in-out; }
        .app-content .content .whisky:hover .image {
          opacity: 1;
          transition: all .25s ease-in-out; }
  .app-content .user {
    text-align: center; }
    .app-content .user .user-mobile-close-button {
      display: none; }
    .app-content .user .user-title {
      font-family: "Montserrat", "Arial Black", Helvetica, sans-serif;
      color: #202020;
      font-size: 3em;
      height: 50px;
      line-height: 50px;
      margin-bottom: 0.7em; }
      .app-content .user .user-title span {
        font-weight: bold; }
    .app-content .user .user-favorites .user-favorite {
      background: #f2f2f2;
      margin: 0 auto 2%;
      clear: both;
      overflow: hidden;
      width: 1280px;
      cursor: pointer;
      transition: all 0.25s ease-in-out; }
      .app-content .user .user-favorites .user-favorite .rank,
      .app-content .user .user-favorites .user-favorite .image,
      .app-content .user .user-favorites .user-favorite .title,
      .app-content .user .user-favorites .user-favorite .rating {
        float: left; }
      .app-content .user .user-favorites .user-favorite .rank {
        width: 160px;
        height: 160px;
        background: #ffbe00;
        font-family: "Montserrat", "Arial Black", Helvetica, sans-serif;
        color: #202020;
        font-weight: bold;
        font-size: 4em;
        line-height: 160px; }
      .app-content .user .user-favorites .user-favorite .image {
        width: 160px;
        height: 160px;
        opacity: 0.9;
        transition: all .25s ease-in-out; }
      .app-content .user .user-favorites .user-favorite .title {
        width: 720px;
        padding: 30px 40px 0;
        text-align: left; }
        .app-content .user .user-favorites .user-favorite .title .brand {
          font-family: "Montserrat", "Arial Black", Helvetica, sans-serif;
          color: #202020;
          font-size: 3em;
          height: 36px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 0.5em;
          font-weight: bold; }
        .app-content .user .user-favorites .user-favorite .title .name {
          font-size: 2em;
          height: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .app-content .user .user-favorites .user-favorite .rating {
        width: 160px;
        height: 160px;
        background: #ffbe00;
        font-family: "Montserrat", "Arial Black", Helvetica, sans-serif;
        color: #202020;
        font-weight: bold;
        font-size: 4em;
        line-height: 160px; }
        .app-content .user .user-favorites .user-favorite .rating .rating-pct {
          font-size: 70%; }
      .app-content .user .user-favorites .user-favorite:hover {
        background: rgba(242, 242, 242, 0.8); }
        .app-content .user .user-favorites .user-favorite:hover .image {
          opacity: 1;
          transition: all .25s ease-in-out; }
        .app-content .user .user-favorites .user-favorite:hover .rank,
        .app-content .user .user-favorites .user-favorite:hover .title,
        .app-content .user .user-favorites .user-favorite:hover .rating {
          opacity: 0.8;
          transition: all .25s ease-in-out; }

/* app-footer -------------- */
.app-footer {
  background: #202020;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  box-shadow: 0 -1px 10px rgba(32, 32, 32, 0.8); }
  .app-footer p {
    font-size: 1.4em;
    line-height: 40px;
    margin: 0 auto; }

/* app-modal -------------- */
.app-modal .modal.modal-visible {
  display: block; }

.app-modal .modal.modal-hidden {
  display: none; }

.app-modal .modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3; }
  .app-modal .modal .modal-overlay {
    background: rgba(32, 32, 32, 0.8);
    width: 100%;
    height: 100%; }
    .app-modal .modal .modal-overlay .modal-dialog {
      background: #fcfcfc;
      width: 94%;
      height: 600px;
      position: fixed;
      left: 3%;
      top: 50%;
      margin-top: -300px;
      box-shadow: 0 0 20px rgba(32, 32, 32, 0.8);
      animation-name: animateContentUp;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 0.25s;
      overflow: hidden; }
      .app-modal .modal .modal-overlay .modal-dialog .image {
        width: 500px;
        height: 500px;
        float: left;
        background: #f2f2f2; }
      .app-modal .modal .modal-overlay .modal-dialog .modal-header .modal-close-trigger {
        position: absolute;
        right: 25px;
        top: 25px;
        cursor: pointer;
        transition: all 0.25s linear; }
        .app-modal .modal .modal-overlay .modal-dialog .modal-header .modal-close-trigger:hover {
          opacity: 0.7; }
      .app-modal .modal .modal-overlay .modal-dialog .modal-header .title {
        width: calc(100% - 550px);
        padding: 25px;
        float: right; }
        .app-modal .modal .modal-overlay .modal-dialog .modal-header .title .brand {
          font-family: "Montserrat", "Arial Black", Helvetica, sans-serif;
          color: #202020;
          font-size: 4em;
          height: 46px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 0.5em;
          font-weight: bold; }
        .app-modal .modal .modal-overlay .modal-dialog .modal-header .title .name {
          font-size: 2em;
          height: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 0.5em; }
        .app-modal .modal .modal-overlay .modal-dialog .modal-header .title .description {
          font-size: 1.4em;
          font-style: italic;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .app-modal .modal .modal-overlay .modal-dialog .modal-content {
        width: calc(100% - 555px);
        padding: 25px;
        float: right;
        position: relative; }
      .app-modal .modal .modal-overlay .modal-dialog .modal-footer {
        clear: both;
        overflow: hidden;
        text-align: center; }
        .app-modal .modal .modal-overlay .modal-dialog .modal-footer .rating {
          width: 500px;
          height: 100px;
          line-height: 100px;
          float: left;
          background: #edae00;
          color: #202020;
          font-weight: bold;
          font-size: 4em;
          font-family: "Montserrat", "Arial Black", Helvetica, sans-serif; }
          .app-modal .modal .modal-overlay .modal-dialog .modal-footer .rating .rating-pct {
            font-size: 70%; }
        .app-modal .modal .modal-overlay .modal-dialog .modal-footer .attributes {
          float: left;
          color: #bbbbbb;
          background: #202020;
          width: calc(100% - 500px);
          overflow: hidden;
          height: 100px;
          line-height: 100px; }
          .app-modal .modal .modal-overlay .modal-dialog .modal-footer .attributes .attribute {
            width: 20%;
            padding: 30px 2.5%;
            float: left; }
            .app-modal .modal .modal-overlay .modal-dialog .modal-footer .attributes .attribute .attribute-key {
              line-height: 40px;
              margin: 0 0.3em;
              float: left; }
            .app-modal .modal .modal-overlay .modal-dialog .modal-footer .attributes .attribute .attribute-value {
              font-size: 1.6em;
              line-height: 40px;
              float: left; }

/* media queries
-------------------------------------------------- */
@media only screen and (max-width: 768px) {
  /* app-header */
  .app-header {
    text-align: left;
    padding: 20px 0;
    width: 100%;
    height: 24px;
    background: #fcfcfc;
    z-index: 1;
    position: fixed; }
    .app-header .title {
      font-size: 2.4em;
      height: 24px;
      line-height: 24px;
      margin-left: 80px;
      color: #545456; }
  /* app-navigation */
  .app-navigation .navigation-trigger {
    left: 24px;
    top: 16px; }
    .app-navigation .navigation-trigger:hover {
      opacity: 1; }
  .app-navigation .navigation-hidden .navigation-content {
    margin-top: -768px;
    transition: all 0.35s ease-in-out; }
  .app-navigation .navigation-visible .navigation-content {
    transition: all 0.35s ease-in-out; }
  .app-navigation .navigation-content {
    height: 718px;
    padding: 25px 5%; }
    .app-navigation .navigation-content .navigation-list,
    .app-navigation .navigation-content .navigation-sorters-list {
      width: 90%;
      float: left;
      margin: 0 5% 9%; }
      .app-navigation .navigation-content .navigation-list .title,
      .app-navigation .navigation-content .navigation-sorters-list .title {
        margin-bottom: .8em; }
    .app-navigation .navigation-content .navigation-list .navigation-list-item {
      width: 48%; }
      .app-navigation .navigation-content .navigation-list .navigation-list-item:hover {
        opacity: 1; }
    .app-navigation .navigation-content .navigation-sorters-list .navigation-sorters-trigger {
      top: 43px; }
      .app-navigation .navigation-content .navigation-sorters-list .navigation-sorters-trigger:hover {
        opacity: 1; }
    .app-navigation .navigation-content .navigation-sorters-list .navigation-sorters .navigation-sorter:hover {
      opacity: 1; }
  /* app-content */
  .app-content {
    margin: 64px 3.2% 48px; }
    .app-content .content .whisky {
      background: #f2f2f2;
      width: 96%; }
      .app-content .content .whisky .title .brand {
        font-size: 2.4em;
        line-height: 30px;
        height: 30px; }
      .app-content .content .whisky .title .name {
        font-size: 1.8em;
        line-height: 24px; }
      .app-content .content .whisky .details .rating,
      .app-content .content .whisky .details .link {
        height: 60px;
        line-height: 60px; }
      .app-content .content .whisky .attributes {
        padding: 3%;
        width: 94%; }
        .app-content .content .whisky .attributes .attribute {
          width: auto;
          margin-right: 20px; }
          .app-content .content .whisky .attributes .attribute .attribute-key {
            font-size: 14px;
            line-height: 20px; }
          .app-content .content .whisky .attributes .attribute .attribute-value {
            font-size: 1em;
            line-height: 20px; }
    .app-content .user .user-mobile-close-button {
      display: block;
      left: 24px;
      top: 16px;
      position: fixed;
      height: 34px;
      width: 34px;
      z-index: 2; }
      .app-content .user .user-mobile-close-button .material-icons {
        font-size: 34px;
        color: #545456; }
    .app-content .user .user-title {
      font-size: 1.6em; }
    .app-content .user .user-favorites .user-favorite {
      width: 96%;
      height: 60px;
      margin: 0 auto 2%; }
      .app-content .user .user-favorites .user-favorite .rank {
        width: 9%;
        height: 60px;
        font-size: 2em;
        line-height: 60px; }
      .app-content .user .user-favorites .user-favorite .image {
        width: 19%;
        height: auto; }
      .app-content .user .user-favorites .user-favorite .title {
        width: 50%;
        padding: 10px 2.5% 0; }
        .app-content .user .user-favorites .user-favorite .title .brand {
          font-size: 1.6em;
          height: 20px;
          margin-bottom: 0.2em; }
        .app-content .user .user-favorites .user-favorite .title .name {
          font-size: 1.2em;
          height: 14px; }
      .app-content .user .user-favorites .user-favorite .rating {
        width: 17%;
        height: 60px;
        font-size: 2em;
        line-height: 60px; }
  /* app-modal */
  .app-modal .modal .modal-overlay .modal-dialog {
    height: 500px;
    margin-top: -250px;
    text-align: center; }
    .app-modal .modal .modal-overlay .modal-dialog .image {
      width: 150px;
      height: 150px;
      margin: 15px auto;
      float: none;
      border-radius: 75px; }
    .app-modal .modal .modal-overlay .modal-dialog .modal-header .modal-close-trigger {
      right: 15px;
      top: 15px;
      font-size: 30px; }
    .app-modal .modal .modal-overlay .modal-dialog .modal-header .title {
      width: 90%;
      padding: 0 5%;
      float: none; }
      .app-modal .modal .modal-overlay .modal-dialog .modal-header .title .brand {
        font-size: 2.4em;
        line-height: 30px;
        height: 30px;
        margin-bottom: 0.25em; }
      .app-modal .modal .modal-overlay .modal-dialog .modal-header .title .name {
        font-size: 1.8em;
        line-height: 24px; }
      .app-modal .modal .modal-overlay .modal-dialog .modal-header .title .description {
        display: none; }
    .app-modal .modal .modal-overlay .modal-dialog .modal-content {
      width: 90%;
      float: none;
      padding: 0px 5%; }
    .app-modal .modal .modal-overlay .modal-dialog .modal-footer .rating {
      position: absolute;
      left: 53px;
      top: 50px;
      width: 80px;
      height: 80px;
      font-size: 3em;
      line-height: 80px;
      border-radius: 40px;
      background: #ffbe00;
      border-right: 2px solid #edae00;
      border-bottom: 2px solid #edae00; }
    .app-modal .modal .modal-overlay .modal-dialog .modal-footer .attributes {
      display: none; } }
